#header {
  height: 64px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header div:first-child {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header div:first-child h2 {
  margin-left: 15px;
  color: #6EACDA;
}