#netflixSlider {
  overflow-x: hidden;
  position: relative;
  /* height: 294px; */
  height: 150px;
}

#netflixSliderHeader {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#netflixSliderHeader > h4 {
  font-size: 26px;
}

#netflixSliderControls {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-around;
}

#netflixSliderControls > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff1a;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
