.input {
  display: inline-block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  /* background-color: var(--background-color); */
  padding: 0 5px;
  /* border: 1px solid #ababab; */
  /* border: 1px solid var(--border-color); */
  border: 1px solid #8080807d;
  /* color: var(--text-color); */
  outline: none;
  box-sizing: border-box;
}
