:root {
  --primary: #6EACDA;
  --secondary: #ffffff;
  --border: #80808057;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}